<div style="margin-left:10px;margin-right:10px;">
    <div id="playground_plugin_navbar" style="display:none" class="playground-sidebar nav navbar-text" >
        <span type="button" class="playground-btn">PLAYGROUND activated</span>
    </div>
</div>
